- if @shared_expenses.any?
  - @shared_expenses.each do |shared_expense|
    = render shared_expense
- else
  %p There aren't any shared expenses yet.

= button_to 'Add', new_shared_expense_path, class: "btn btn-lg btn-primary", method: :get

